<html>
 <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: purple;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: black;
        }
    </style>

<body bgcolor="violet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head><body bgcolor="#FFFFFF">
    <ul>
        <li><a class="active" href="insert.html">ADD TO CART</a></li>
        </div>
        <li><a href="retrieve.html">RETRIEVE CART</a></li>
        <li><a href="update.html">UPDATE CART</a></li>
        
        <li><a href="deleteselected.html">REMOVE FROM CART</a></li>
    </ul><br><br><br><br>
    <div   ng-app="myApp" ng-controller="ctrl3">
    <br><br><br><br>
    <div align="center">
        <div style="width:300px; border: solid 1px purple; " align="left">
            <div style="background-color:purple; color:white; padding:3px;"><CENTER><b>RETRIEVE CART</b></CENTER></div>

            <div style="margin:30px" >

                <form>
                    <CENTER><input type="button" value="Get Records" ng-click="myFunc()"/></CENTER>
                </form>


            </div>



        </div>

    </div><br><br>
        <div>
            <table width="70%" align="center" height="30%" >
    <tr ng-repeat="x in records" bgcolor="purple">
        <th>Name</th>
        <td>Email</th>
        <th>Mobile</th>
		<th>Itemname</th>
        <th>Quantity</th>
        <th>Price</th>
        <center><th>Delete</th></center></tr>

    <tr ng-repeat="x in names" bgcolor="grey">
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.mob}}</td>
		<td>{{x.item}}</td>
        <td>{{x.quantity}}</td>
        <td>{{x.price}}</td>
            <td>    <input type="button" value="delete" ng-click="delete(x.name)"/></td></tr>

</table>
</div>
    </div>

    <script>
                          var app = angular.module('myApp', []);
                          app.controller('ctrl3', function ($scope, $http) {

                              $scope.delete = function(name) {
                                   var res = {
                                  method: 'POST',
                                  url: 'http://localhost:3000/delete',
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name,
                         }
                              }

                                  $http(res)
                                  .then(function() { $scope.myFunc() });
                                  //setTimeout($scope.myFunc,1500);

                         }

                              $scope.myFunc = function() {
                           $scope.records = [
    {
      "Name" : "Name",
      "Email" : "Email",
        "Mobile":"Mobile",
		"itemname":"item",
        "QUANTITY": "quantity",
        "PRICE":"price",
        "delete":"Delete"
    }]
                                  var name=$scope.name;
                              var req = {
                                  method: 'POST',
                                  url: 'http://localhost:3000/entiredata',
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name,
                         }
                              }

                                  $http(req)
                          .then(function (response) {
                          $scope.names = response.data;


                         });
                                  };


        });
        </script>
<br><br><br><br><br><br><br><br><br><br>


            </body>
                </html>
