<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: purple;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color:black;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head>
<body bgcolor="violet">
      <ul>
        <li><a class="active" href="insert.html">ADD TO CART</a></li>
        </div>
        <li><a href="retrieve.html">RETRIEVE CART</a></li>
        <li><a href="update.html">UPDATE CART</a></li>
       
        <li><a href="deleteselected.html">DELETE FROM CART</a></li>
    </ul><br><br><br><br>

    <div   ng-app="myApp" ng-controller="ctrl3">
    <br><br><br><br>
    <div align="center">
        <div style="width:300px; border: solid 1px purple; " align="left">
            <div style="background-color:purple; color:#FFFFFF; padding:3px;"><center><b>RETRIEVE CART</b></center></div>

            <div style="margin:30px">

                <form >
                        <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                       <center> <input type="button" value="retrieve" ng-click="myFunc()" /></center>
                    </form>


            </div>



        </div>

    </div>
        <div><br><br>
            <table  width="50%" align="center" height="60">
    <tr ng-repeat="x in records" bgcolor="purple">
        <th>Name</th>
        <td>Email</th>
        <th>Mobile</th>
		<th>Itemname</th>
        <th>Quantity</th>
        <th>price</th></tr>

    <tr ng-repeat="x in names" bgcolor="grey">
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.mob}}</td>
		<td>{{x.item}}</td>
        <td>{{x.quantity}}</td>
        <td>{{x.price}}</td>
</tr>

</table>
</div>
    </div>

    <script>
                          var app = angular.module('myApp', []);
                          app.controller('ctrl3', function ($scope, $http) {

                              $scope.myFunc = function() {
                           $scope.records = [
    {
      "Name" : "Name",
      "Email" : "Email",
        "Mobile":"Mobile",
		"Itemname":"Itemname",
        "quantity": "quantity",
        "price":"price"
    }]
                                  var name=$scope.name;
                              var req = {
                                  method: 'POST',
                                  url: 'http://localhost:3000/retrieve',
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name,
                         }
                              }

                                  $http(req)
                          .then(function (response) {
                          $scope.names = response.data;


                         });
                                  };


        });
        </script>

<br><br><br><br><br><br>
<br><br><br><br><br><br>


            </body>
                </html>
