<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: purple;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: black;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head>
<body bgcolor="violet">
     <ul>
        <li><a class="active" href="insert.html">ADD TO CART</a></li>
        </div>
        <li><a href="retrieve.html">RETRIEVE CART</a></li>
        <li><a href="update.html">UPDATE CART</a></li>
        <li><a href="deleteselected.html">DELETE FROM CART</a></li>
    </ul><br><div ng-app="myApp" ng-controller="ctrl3">
        <br><br><br><br>
        <div align="center">
            <div style="width:300px; border: solid 1px purple; " align="left">
                <div style="background-color:purple; color:white; padding:3px;"><b>RETRIEVE CART</b></div>

                <div style="margin:30px">

                    <form >
                        <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                       <center> <input type="button" value="OK" ng-click="myFunc()" /></center>
                    </form>


                </div



            </div>

        </div><br>
          <div align="center">
        <div style="width:400px; border: solid 1px purple; " align="left">
            <div style="background-color:purple; color:#FFFFFF; padding:3px;"><b>UPDATE</b></div>

            <div style="margin:30px">

    <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name1" class="box" /><br /><br />
                    <label>Email  &nbsp;&nbsp;&nbsp;:</label><input ng-model="email" class="box" /><br/><br />
                    <label>Mobile  &nbsp;:</label><input ng-model="mob" class="box" /><br /><br />
					<label>Itemname&nbsp;:</label><input ng-model="item" class="box" /><br /><br />
                    <label>Quantity:</label><input ng-model="quantity" class="box" /><br/><br />
                    <label>itemprice:</label><input ng-model="price" class="box" /><br/><br />
                    <center> <input type="button" value="update" ng-click="myFunc1()" /></center>


    </form>

            </div>

        </div>

    </div>


    <script>
        var app = angular.module('myApp', []);
        app.controller('ctrl3', function($scope, $http) {
             $scope.myFunc1 = function() {
                alert("do you want to update?");
                var name = $scope.name;
                var email = $scope.email;
                var mob = $scope.mob;
				var item=$scope.item;
                var quantity = $scope.quantity;
                var price = $scope.price;
                var req = {
                    method: 'POST',
                    url: 'http://localhost:3000/update',
                    headers: {
                        'Content-Type': 'Application/json'
                    },
                    data: {
                        name: name,
                        email: email,
                        mob: mob,
						item:item,
                        quantity: quantity,
                        price: price
                    }
                }

                $http(req)
                    .then(function(response) {
                        $scope.na = response.data;
                                      alert($scope.na);

                    });
            };


            $scope.myFunc = function() {
                alert("do you want to retrieve?");
                $scope.records = [{
                    "Name": "Name",
                    "Email": "Email",
                    "Mobile": "Mobile",
					"itemname":"item",
                    "QUANTITY": "quantity",
                    "PRICE": "price"
                }]
                var name = $scope.name;
                var req = {
                    method: 'POST',
                    url: 'http://localhost:3000/retrieve',
                    headers: {
                        'Content-Type': 'Application/json'
                    },
                    data: {
                        name: name,
                    }
                }

                $http(req)
                    .then(function(response) {

                        $scope.name1 = response.data[0].name;

                        $scope.email = response.data[0].email;

                        $scope.quantity = response.data[0].quantity;
						$scope.item = response.data[0].item;
                        
                        $scope.price = response.data[0].price;


                        $scope.mob = response.data[0].mob;




                    });
            };

        });

    </script>



</body>

</html>
